<?xml version="1.0"?>
<model>
  <name>space_ice</name>
  <version>0.1.0</version>
  <author>
   <name>Juanpa Valdivia</name>
   <email>jpvaldivia@theconstruct.ai</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    Reconstructed from https://skfb.ly/o6GF9
  </description>
</model>
