<?xml version="1.0"?>
<model>
  <name>space_terrain_plain</name>
  <version>0.1.0</version>
  <author>
   <name>Miguel Angel Rodriguez</name>
   <email>duckfrost@theconstructsim.com</email>
  </author>
  <sdf version='1.4'>model.sdf</sdf>
  <description>
    Mars scene created by https://skfb.ly/GwW7
  </description>
</model>
